@import "../../css/veriables.module.scss";

.mainContainer {
  margin-top: 70px;
}

.filterWithDate {
  display: flex;
  justify-content: end;
  height: 40px;

  .filterwithDate {
    @include paraFontdasktopMixin;
    cursor: pointer;

    .datafilter {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    & input {
      margin-left: 10px;
    }
  }
}
.OuterTable {
  .BootstrapTable {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: $tableHaderBackgorundColor;
    & input {
      height: 35px !important;
    }

    & p {
      font-size: 0.8rem !important;
    }
    & svg {
      color: #fff;
    }

    // color: $stackBackgroundColor;
  }
}

.searchBar {
  // border: 2px solid red;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;

  & label {
    width: 60%;
  }

  & input {
    font-size: 0.9rem;
  }
}
.productVersion {
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: $backgroundColor;
    width: 100%;
    padding: 5px;
    color: $defaultTextColor;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
