@import "../../../../css/veriables.module.scss";

.OuterTable {
  padding: 10px;
  .BootstrapTable {
    display: flex;
    justify-content: space-between;
    padding: 10px;

    & button {
      color: $defaultTextColor !important;
      font-weight: 500;
    }

    .filterOptions {
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.ViewButton {
  border-radius: 50px !important;
  float: right;
}
