@import "../../css/veriables.module..css";

.backgroundSection {
  width: 100%;
  height: 400px;
  top: 0%;
  position: absolute;
  background-image: url("../../assets/images/ss.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.8;
  z-index: -3;
}

.MainContantainer {
  margin-top: 50px;

  @media only screen and (min-width: 300px) and (max-width: 768px) {
    margin-left: 0px !important;
  }
  @media only screen and (min-width: 768px) and (max-width: 1600px) {
    margin-left: 6% !important;
  }

  .addProject {
    cursor: pointer;
    height: 100%;
    display: flex;
    justify-content: center;
    // justify-content: center;
    align-items: center;
    & section {
      // border: 2px red solid;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      & svg {
        width: 100% !important;
        height: 30px !important;
        color: $activehrefText;
      }
    }
  }

  .InfoColumn {
    width: 100%;
  }

  .InfoDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & p {
      padding: $padding;

      & span {
        margin-right: $margin;
      }
    }
  }
}
