@import "../../css/veriables.module.css";

.addProject {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .svg-inline--fa.fa-w-14 {
    width: 100%;
    height: 30px;
  }
}

.Outer_InfoRow {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 170px;
  @include paraFontdasktopMixin;

  .InfoColumn {
    width: 100%;
    color: $activehrefText;
    @include ActiveheadingFontdasktopMixin;
  }

  .InfoDetails {
    & p {
      float: right;
      @include paraFontdasktopMixin;
      & span {
        margin-right: $margin;
      }
    }
  }
}
