@import "../../css/veriables.module.scss";

.OuterDiv {
  width: 100%;

  height: 100vh;
  align-items: center;
}

// SWIPE BAR REACT
.SidebarLogTable {
  width: 100% !important;
  padding: 0px !important;
}

.LogtableContaininer {
  margin-top: 5% !important;
  margin-left: 20% !important;
  margin-bottom: 2% !important;

  @media screen and (min-width: 300px) and (max-width: 768px) {
    margin-top: 10% !important;
    margin-left: 18% !important;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 12% !important;
    margin-left: 12% !important;
  }

  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    margin-top: 14% !important;
    margin-left: 10% !important;
  }
  @media screen and (min-width: 1400px) and (max-width: 1600px) {
    margin-top: 8% !important;
    margin-left: 10% !important;
  }
}

.LogtableContaininerWithoutSlide {
  margin-top: 5% !important;
  margin-bottom: 2% !important;

  @media screen and (min-width: 300px) and (max-width: 768px) {
    margin-top: 10% !important;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 12% !important;
  }

  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    margin-top: 15% !important;
  }
  @media screen and (min-width: 1280px) and (max-width: 1400px) {
    margin-top: 10% !important;
  }

  @media screen and (min-width: 1400px) and (max-width: 1600px) {
    margin-top: 8% !important;
  }
}

.userInfo {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center !important;
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    width: 60%;
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    width: 55%;
  }
  @media screen and (min-width: 1400px) and (max-width: 1600px) {
    width: 50%;
  }
  @media screen and (min-width: 1600px) and (max-width: 1920px) {
    width: 43%;
  }

  & section {
    color: $filterButtonBackgroundColor;
  }
  .Avtar {
    background-color: $filterButtonBackgroundColor;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: $activehrefText;
    font-weight: 700;
    // media query
    @media screen and (min-width: 300px) and (max-width: 1024px) {
      width: 28px;
      height: 28px;
    }
  }
}

.Avtarunder {
  background-color: $filterButtonBackgroundColor;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  color: $activehrefText;
  font-weight: 700;
  font-size: 2rem;
  overflow: hidden;
}

.imputFields {
  display: flex;
  align-items: center;
  border: $border;
  border-radius: $cardBorderRadius;
  padding: 5px;
  & input {
    border: none !important;
    background: none !important;
  }

  & svg {
    color: $activehrefText;
  }
}

.editImage {
  background-color: $activehrefText;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  color: #fff;
  cursor: pointer;
  z-index: 11;
  & input {
    cursor: pointer !important;
  }
}

.buttonbackground {
  margin-top: 10px;
  display: flex;
  width: 70%;
  justify-content: center;
}

.imputFieldsError {
  display: flex;
  align-items: center;
  border: 2px solid red;
  border-radius: $cardBorderRadius;
  padding: 5px;
  & input {
    border: none !important;
    background: none !important;
  }

  & svg {
    color: $activehrefText;
  }
}
