@import "../../css/veriables.module.css";

// body {
//   background-image: url("../../assets/holiImage.jpg");

//   background-attachment: fixed;
//   background-size: cover;
// }

.mainContainer {
  margin-top: 70px;
}

.issuesTable {
  display: flex;
  justify-content: space-between;
  @include paraFontdasktopMixin;
  .LinkActiveText {
    color: $activehrefText;
    font-weight: $activeLinkTextFontWeight;
  }
}

.filterWithDate {
  display: flex;
  justify-content: end;
  height: 40px;

  .filterwithDate {
    @include paraFontdasktopMixin;
    cursor: pointer;
    .datafilter {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    & input {
      margin-left: 10px;
    }
  }
}

// SWIPE BAR REACT
.SidebarLogTable {
  width: 100% !important;
  padding: 0px !important;
}

.LogtableContaininer {
  margin-top: 5% !important;
  margin-left: 20% !important;
  margin-bottom: 2% !important;

  @media screen and (min-width: 300px) and (max-width: 768px) {
    margin-top: 10% !important;
    margin-left: 18% !important;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 12% !important;
    margin-left: 12% !important;
  }

  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    margin-top: 14% !important;
    margin-left: 10% !important;
  }
  @media screen and (min-width: 1400px) and (max-width: 1600px) {
    margin-top: 8% !important;
    margin-left: 10% !important;
  }
}

.LogtableContaininerWithoutSlide {
  margin-top: 5% !important;
  margin-bottom: 2% !important;

  @media screen and (min-width: 300px) and (max-width: 768px) {
    margin-top: 10% !important;
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    margin-top: 12% !important;
  }

  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    margin-top: 15% !important;
  }
  @media screen and (min-width: 1280px) and (max-width: 1400px) {
    margin-top: 10% !important;
  }

  @media screen and (min-width: 1400px) and (max-width: 1600px) {
    margin-top: 8% !important;
  }
}

.filterGraphFirstSction {
  cursor: pointer;
  background-color: $filterButtonBackgroundColor;
  padding: 10px;
  border-radius: $buttonBorderRaduous;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: auto !important;

  & svg {
    &:hover {
      transform: rotate(180deg) !important;
      transition-duration: 0.5s;
      color: $backgroundColor;
    }
  }
}

.productVersion {
  padding: 5px;
  cursor: pointer;
  &:hover {
    background-color: $backgroundColor;
    width: 100%;
    padding: 5px;
    color: $defaultTextColor;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


