@import "../../css/veriables.module.scss";

.stackErrorDropDown {
  background-color: $stackBackgroundColor;
}

.deviceDetails {
  background-color: $ActiveBackgroundColore;

  & p {
    color: $ActiveParaTextColor;
    font-weight: $ActiveParaTextFontWeight;
  }
}

.EvnetGraphOuter {
  height: 400px;
  border-radius: $cardBorderRadius;
}

.issuesTable {
  display: flex;
  justify-content: space-between;

  .LinkActiveText {
    color: $activehrefText;
    font-weight: $activeLinkTextFontWeight;
  }
}

.filterFunctionalty {
  display: flex;
  justify-content: space-between;

  & p {
    background-color: $filterButtonBackgroundColor;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 10%;
    border-radius: $buttonBorderRaduous;
  }

  & section {
    width: 60%;
    display: flex;
    justify-content: space-between !important;
    align-items: center !important;
    height: 40px;
  }

  & input {
    height: 30px;
    border: 1px solid $inputbackgroundColor;
    background-color: $inputbackgroundColor;
    border-radius: $buttonBorderRaduous;
    width: 100%;
    padding: 10px;
  }
}




.filterWithDate {
  display: flex;
  justify-content: space-between;
  height: 40px;

  .filterGraphFirstSction {
    background-color: $filterButtonBackgroundColor;
    padding: 20px;
    border-radius: $buttonBorderRaduous;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filterwithDate {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & input {
      margin-left: 10px;
    }
  }
}
