@import "../../css/veriables.module.scss";

.stackErrorDropDown {
  background-color: $stackBackgroundColor;
}

.deviceDetails {
  background-color: $ActiveBackgroundColore;

  & p {
    color: $ActiveParaTextColor;
    font-weight: $ActiveParaTextFontWeight;
  }
}

.EvnetGraphOuter {
  height: 400px;
  border-radius: $cardBorderRadius;
}

.issuesTable {
  display: flex;
  justify-content: space-between;

  .LinkActiveText {
    color: $activehrefText;
    font-weight: $activeLinkTextFontWeight;
  }
}

.filterWithDate {
  display: flex;
  justify-content: space-between;
  height: 40px;

  .filterGraphFirstSction {
    cursor: pointer;
    background-color: $filterButtonBackgroundColor;
    padding: 10px;
    border-radius: $buttonBorderRaduous;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .filterwithDate {
    cursor: pointer;
    .datafilter {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
    & input {
      margin-left: 10px;
    }
  }
}
