@import "../../css/veriables.module.scss";

.AnalyticsEvents {
  display: flex;
  justify-content: space-between;

  .PrevNext {
    display: flex;

    & section {
      width: 30px;
      height: 30px;
      background-color: $filterButtonBackgroundColor;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $cardBorderRadius;
    }
  }
}

.AnalyticsNavigation {
  width: 100% !important;
}
