@import "../css/veriables.module.css";

.Outer_section {
  cursor: pointer;
  @media only screen and (min-width: 300px) and (max-width: 900px) {
    width: 30px;
    height: 30px;
  }
  @media only screen and (min-width: 900px) and (max-width: 1600px) {
    width: 35px;
    height: 35px;
  }
  @media only screen and (min-width: 1600px) and (max-width: 1920px) {
    width: 40px;
    height: 40px;
  }
  background-color: #fff;
  border-radius: 20px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkMood_outer {
  background-color: $activehrefText;
  border-radius: 100%;
  padding: 2px;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
