@import "../css/veriables.module.scss";

// navbar
.navbar {
  background-color: $backgroundColor;
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 9;
  width: 85%;

  & h3 {
    color: $defaultTextColor;
  }

  .userInfo {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    & section {
      color: $filterButtonBackgroundColor;
      margin-left: 10px;
    }
    .Avtar {
      background-color: $filterButtonBackgroundColor;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: $activehrefText;
      font-weight: 700;
    }

    // media query for
    @media screen and (min-width: 300px) and (max-width: 900px) {
      width: 55%;
    }

    @media screen and (min-width: 900px) and (max-width: 1600px) {
      width: 35%;
    }
  }
}

// siderbar
.sideBar {
  background-image: url("../../public//assets/images/Mask\ Group\ 1.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  background-color: $sideBarBackgroundColor;
  height: 100vh;
  position: fixed;
  width: 17.2%;
  z-index: 10;

  .componyDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;

    .DashBoardTitle {
      font-size: 2rem;
    }

    & img {
      width: 45px;
    }

    & section {
      color: $defaultTextColor;
    }
  }

  .options {
    height: 100%;
    .optionItems {
      text-decoration: none;
      display: flex;
      align-items: center;
      color: $defaultTextColor;
      padding-left: 20%;
      & section {
        padding: 10px;
      }
    }

    .BrnadName {
      height: 75%;
      display: flex;
      justify-content: end;
      align-items: center;
      flex-direction: column;
      padding: 10px; // border: red solid 1px;
      & img {
        width: 30%;
      }
      & section {
        color: $defaultTextColor;
      }
      .BrnadNameFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        // border: red solid 1px;
        margin-top: 100%;
      }

      @media screen and (min-width: 300px) and (max-width: 900px) {
        margin-top: 50%;
        & img {
          width: 20%;
        }
        & section {
          color: $defaultTextColor;
          font-size: 0.6rem;
        }
      }

      @media screen and (min-width: 900px) and (max-width: 1600px) {
        margin-top: 30%;
      }
    }

    .option_active {
      background-color: $backgroundColor;
      border-bottom: $borderBottom;
    }
  }
}
