@import "../css/veriables.module.scss";

// navbar
.navbar {
  background-color: $backgroundColor;
  height: 7% !important;
  display: flex;
  justify-content: space-between;
  padding: 20px !important;
  align-items: center;
  position: fixed;
  z-index: 9;
  width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  // width
  @media screen and (min-width: 100px) and (max-width: 300px) {
    height: 4% !important;
  }
  @media screen and (min-width: 300px) and (max-width: 1024px) {
    height: 5% !important;
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    height: 8% !important;
  }

  & h3 {
    color: $defaultTextColor;
  }

  .NavbarSectionWithMenu {
    display: flex;
    align-items: center;
    cursor: pointer !important;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding-left: 5px !important;
    }
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      padding-left: 10px !important;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      padding-left: 20px !important;
    }
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      padding-left: 30px !important;
    }

    .Icon {
      padding-left: 20px !important;
      cursor: pointer;
    }

    & svg {
      color: $defaultTextColor;
    }
  }

  .userInfo {
    display: flex;
    justify-content: space-around;
    align-items: center !important;
    // border: 2px solid red;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 20%;
      margin-right: 15%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      width: 15%;
      margin-right: 16%;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      width: 10%;
      margin-right: 16%;
    }
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      width: 10%;
      margin-right: 17%;
    }

    & section {
      color: $filterButtonBackgroundColor;
    }
    .Avtar {
      background-color: $filterButtonBackgroundColor;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      color: $activehrefText;
      font-weight: 700;
      cursor: pointer;
      // margin-left: 10px !important;
      // media query
      // border: 2px solid red; // media query
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 28px;
        height: 28px;
        margin-left: 10px !important;
      }
      @media screen and (min-width: 1024px) and (max-width: 1400px) {
        width: 28px;
        height: 28px;
        margin-left: 10px !important;
      }
      @media screen and (min-width: 1400px) and (max-width: 1600px) {
        width: 28px;
        height: 28px;
        margin-left: 10px !important;
      }
      @media screen and (min-width: 1600px) and (max-width: 1920px) {
        width: 40px;
        height: 40px;
        margin-left: 10px !important;
      }
    }
  }
}
.privacyPolicy {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
  align-items: baseline;
}

.Avtarunder {
  background-color: $filterButtonBackgroundColor;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  color: $activehrefText;
  font-weight: 700;
}

// NAVBAR WITH SLIDE
.navbarWihoutSlide {
  background-color: $backgroundColor;
  height: 7% !important;
  display: flex;
  justify-content: space-between;
  padding: 20px !important;
  align-items: center;
  position: fixed;
  z-index: 9;
  width: 100%;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);
  // width
  @media screen and (min-width: 300px) and (max-width: 1024px) {
    height: 6% !important;
  }
  @media screen and (min-width: 1024px) and (max-width: 1400px) {
    height: 8% !important;
  }

  .NavbarSectionWithMenu {
    display: flex;
    align-items: center;

    @media screen and (min-width: 300px) and (max-width: 768px) {
      padding-left: 40px !important;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding-left: 60px !important;
    }
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      padding-left: 70px !important;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      padding-left: 40px !important;
    }
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      padding-left: 50px !important;
    }
    & svg {
      padding: 0px;
      color: $defaultTextColor;
    }
  }

  .Icon {
    cursor: pointer;
    @media screen and (min-width: 300px) and (max-width: 768px) {
      padding-left: 15px !important;
    }
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      padding-left: 20px !important;
    }
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      padding-left: 30px !important;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      padding-left: 35px !important;
    }
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      padding-left: 60px !important;
    }
  }

  & h3 {
    color: $defaultTextColor;
  }

  .userInfo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    // border: 2px solid red;
    // position: relative;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      width: 18%;
    }
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      width: 16%;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      width: 10%;
    }
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      width: 10%;
    }

    & section {
      color: $filterButtonBackgroundColor;
    }
    .Avtar {
      background-color: $filterButtonBackgroundColor;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $activehrefText;
      font-weight: 700;

      // border: 2px solid red; // media query
      @media screen and (min-width: 768px) and (max-width: 1024px) {
        width: 28px;
        height: 28px;
        margin-left: 10px !important;
      }
      @media screen and (min-width: 1024px) and (max-width: 1400px) {
        width: 28px;
        height: 28px;
        margin-left: 10px !important;
      }
      @media screen and (min-width: 1400px) and (max-width: 1600px) {
        width: 28px;
        height: 28px;
        margin-left: 10px !important;
      }
      @media screen and (min-width: 1600px) and (max-width: 1920px) {
        width: 40px;
        height: 40px;
        margin-left: 10px !important;
      }
    }
  }
}

// siderbar
.sideBar {
  background-image: url("../assets/images/background.jpg");
  background-repeat: repeat;
  background-size: 100% 100%;
  height: 100%;
  position: fixed;
  width: 17.2%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  // with slide

  .componyDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      height: 5% !important;
    }
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      height: 9% !important;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      height: 7% !important;
    }
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      height: 7% !important;
    }

    .DashBoardTitle {
      font-size: 2rem;
      display: flex;
      justify-content: center !important;
      align-items: center !important;

      .logologcat {
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          width: 40px;
        }
        @media screen and (min-width: 1024px) and (max-width: 1400px) {
          width: 70px;
        }
        @media screen and (min-width: 1400px) and (max-width: 1600px) {
          width: 60px;
        }
        @media screen and (min-width: 1600px) and (max-width: 1920px) {
          width: 60px;
        }
      }
    }

    & section {
      color: $defaultTextColor;
    }
  }

  .options {
    height: 100%;
    border-bottom: $borderBottom;
    // border: 2px solid red;
    margin-top: 10px;

    .option_active {
      background-color: $backgroundColor;
      display: flex;
      align-items: center;
      padding-left: 20px;
    }
  }
  .optionItems {
    display: flex !important;
    align-items: center;
    padding-left: 20px;
    text-decoration: none;
    align-items: center;
    color: $defaultTextColor;
    & section {
      padding: 10px;
    }
  }

  .brandName {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 80%;
    & img {
      width: 20%;
    }
    & p {
      color: $defaultTextColor;
      font-size: 0.7rem;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    .brandName > p {
      font-size: 0.7rem;
    }
  }
}

// SWIPE WINDOW SIDE BAR
.sideBarSwipe {
  background-image: url("../assets/images/background.jpg");
  background-repeat: repeat;
  background-color: $sideBarBackgroundColor;
  height: 100%;
  position: fixed;
  width: 5%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  // without slide

  .componyDetails {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) and (max-width: 1024px) {
      height: 6.5% !important;
    }
    @media screen and (min-width: 1024px) and (max-width: 1400px) {
      height: 9% !important;
    }
    @media screen and (min-width: 1400px) and (max-width: 1600px) {
      height: 7% !important;
    }
    @media screen and (min-width: 1600px) and (max-width: 1920px) {
      height: 7.5% !important;
    }

    .DashBoardTitle {
      font-size: 2rem;
      display: flex;
      justify-content: center !important;
      align-items: center !important;

      .logologcatsmall {
        @media screen and (min-width: 768px) and (max-width: 1024px) {
          width: 30px;
        }
        @media screen and (min-width: 1024px) and (max-width: 1400px) {
          width: 30px;
        }
        @media screen and (min-width: 1400px) and (max-width: 1600px) {
          width: 35px;
        }
        @media screen and (min-width: 1600px) and (max-width: 1920px) {
          width: 35px;
        }
      }
    }

    & section {
      color: $defaultTextColor;
    }
  }

  .SwipeOption {
    width: 100%;
    height: 100%;
    border-bottom: $borderBottom;
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 2px solid red;
    margin-top: 10px;
    .optionItems {
      text-decoration: none;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;

      color: $defaultTextColor;
      .optionName {
        display: none !important;
      }

      & section {
        padding: 10px;
      }
    }

    .option_active {
      text-decoration: none;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $activehrefText;
      color: $defaultTextColor;
      .optionName {
        display: none !important;
      }

      & section {
        padding: 10px;
      }
    }
  }

  .brandName {
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 80%;
    & img {
      width: 40px;
    }
    & p {
      display: none !important;
    }
  }
  .SwipeNavbar {
    cursor: pointer;
    color: $defaultTextColor;
  }
}

// NAVBAR AND SIDEBAR THEMEMING

.userInfoDropDown {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  width: 100%;
  border: 1px solid gray;
  border-radius: 10px;
  transition-duration: 0.5s;
  &:hover {
    cursor: pointer;
    background-color: $activehrefText;
    color: #fff;
  }
}
