@import "../css/veriables.module.scss";
@import "../css/mediaQuery.scss";

.sidebarOuter {
  position: fixed;
  z-index: 10;
  width: 16.7%;
  height: 100vh;
  .Sidebar {
    height: 100%;
    background-image: url("../assets/images/background.jpg");
    background-repeat: repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;

    // media query for logcat logo -------------------------- with sidebar
    @include sm {
      .LogcatLogo {
        padding: 9px 0px;

        width: 250px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ComponyLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        & p {
          color: #fff;
          font-size: 0.7rem;
        }

        & img {
          width: 30%;
        }
      }
    }

    @include md {
      .LogcatLogo {
        padding: 9px 0px;

        width: 250px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ComponyLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        & p {
          color: #fff;
        }

        & img {
          width: 30%;
        }
      }
    }

    @include lg {
      .LogcatLogo {
        padding: 11px 0px;

        width: 250px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ComponyLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        & p {
          color: #fff;
        }

        & img {
          width: 30%;
        }
      }
    }

    @include xl {
      .LogcatLogo {
        padding: 11px 0px;

        width: 250px !important;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .ComponyLogo {
        display: flex;
        align-items: center;
        justify-content: center;

        & p {
          color: #fff;
        }

        & img {
          width: 30%;
        }
      }
    }

    // ------------------------------------------------------------------------------------------------------

    .LogoSection {
      width: 100%;
      // height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      & img {
        width: 20% !important;
        height: 20% !important;
      }
    }

    .linkSection {
      @include sm {
        .linkActive {
          padding: 0px 4px;
          display: flex !important;
          justify-content: start;
          align-items: center;
          background-color: $activehrefText;
          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }
      @include md {
        .linkActive {
          padding: 0px 10px;
          display: flex !important;
          justify-content: start;
          align-items: center;
          background-color: $activehrefText;
          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }
      @include lg {
        .linkActive {
          padding: 0px 14px;
          display: flex !important;
          justify-content: start;
          align-items: center;
          background-color: $activehrefText;
          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }
      @include lg-md {
        .linkActive {
          padding: 0px 14px;
          display: flex !important;
          justify-content: start;
          align-items: center;
          background-color: $activehrefText;
          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }

      @include lg-xl {
        .linkActive {
          padding: 0px 25px;
          display: flex !important;
          justify-content: start;
          align-items: center;
          background-color: $activehrefText;
          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }

      @include xl {
        .linkActive {
          padding: 0px 25px;
          display: flex !important;
          justify-content: start;
          align-items: center;
          background-color: $activehrefText;
          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }

      @include sm {
        .linkInActive {
          padding: 0px 4px;
          display: flex !important;
          justify-content: start;
          align-items: center;

          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }
      @include md {
        .linkInActive {
          padding: 0px 10px;
          display: flex !important;
          justify-content: start;
          align-items: center;

          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }
      @include lg {
        .linkInActive {
          padding: 0px 14px;
          display: flex !important;
          justify-content: start;
          align-items: center;

          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }

      @include lg-md {
        .linkInActive {
          padding: 0px 14px;
          display: flex !important;
          justify-content: start;
          align-items: center;

          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }

      @include lg-xl {
        .linkInActive {
          padding: 0px 25px;
          display: flex !important;
          justify-content: start;
          align-items: center;

          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }

      @include xl {
        .linkInActive {
          padding: 0px 25px;
          display: flex !important;
          justify-content: start;
          align-items: center;

          .linkData {
            display: flex;
            padding: 10px 10px;
            text-decoration: none;
            color: #fff;

            & section {
              margin-left: 10px;
            }
          }
        }
      }
    }

    .ClickSlideSection {
      flex: 1;
    }
  }
}

.navMenuIcons {
  height: 100%;
}
