.sidebarOuter {
  position: fixed;
  z-index: 10;
  width: 16.7%;
  height: 100vh;
}

.sidebarOuter .Sidebar {
  height: 100%;
  background-image: url("../assets/images/background.png");
  background-repeat: repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .sidebarOuter .Sidebar .LogcatLogo {
    padding: 9px 0px;
    width: 250px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .sidebarOuter .Sidebar .ComponyLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebarOuter .Sidebar .ComponyLogo p {
    color: #fff;
    font-size: 0.7rem;
  }
  .sidebarOuter .Sidebar .ComponyLogo img {
    width: 30%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .sidebarOuter .Sidebar .LogcatLogo {
    padding: 9px 0px;
    width: 250px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .sidebarOuter .Sidebar .ComponyLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebarOuter .Sidebar .ComponyLogo p {
    color: #fff;
  }
  .sidebarOuter .Sidebar .ComponyLogo img {
    width: 30%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .sidebarOuter .Sidebar .LogcatLogo {
    padding: 11px 0px;
    width: 250px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .sidebarOuter .Sidebar .ComponyLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebarOuter .Sidebar .ComponyLogo p {
    color: #fff;
  }
  .sidebarOuter .Sidebar .ComponyLogo img {
    width: 30%;
  }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .sidebarOuter .Sidebar .LogcatLogo {
    padding: 11px 0px;
    width: 250px !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
  }
  .sidebarOuter .Sidebar .ComponyLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sidebarOuter .Sidebar .ComponyLogo p {
    color: #fff;
  }
  .sidebarOuter .Sidebar .ComponyLogo img {
    width: 30%;
  }
}

.sidebarOuter .Sidebar .LogoSection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

.sidebarOuter .Sidebar .LogoSection img {
  width: 20% !important;
  height: 20% !important;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .sidebarOuter .Sidebar .linkSection .linkActive {
    padding: 0px 4px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: #0099a4;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .sidebarOuter .Sidebar .linkSection .linkActive {
    padding: 0px 10px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: #0099a4;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .sidebarOuter .Sidebar .linkSection .linkActive {
    padding: 0px 14px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: #0099a4;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .sidebarOuter .Sidebar .linkSection .linkActive {
    padding: 0px 18px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: #0099a4;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1480px) and (max-width: 1919px) {
  .sidebarOuter .Sidebar .linkSection .linkActive {
    padding: 0px 25px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: #0099a4;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .sidebarOuter .Sidebar .linkSection .linkActive {
    padding: 0px 25px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    background-color: #0099a4;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .sidebarOuter .Sidebar .linkSection .linkInActive {
    padding: 0px 4px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .sidebarOuter .Sidebar .linkSection .linkInActive {
    padding: 0px 10px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .sidebarOuter .Sidebar .linkSection .linkInActive {
    padding: 0px 14px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .sidebarOuter .Sidebar .linkSection .linkInActive {
    padding: 0px 18px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1480px) and (max-width: 1919px) {
  .sidebarOuter .Sidebar .linkSection .linkInActive {
    padding: 0px 25px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData section {
    margin-left: 12px;
  }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .sidebarOuter .Sidebar .linkSection .linkInActive {
    padding: 0px 25px;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-bottom: 5px;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px 10px;
    text-decoration: none;
    color: #fff;
  }
  .sidebarOuter .Sidebar .linkSection .linkInActive .linkData section {
    margin-left: 12px;
  }
}

.sidebarOuter .Sidebar .ClickSlideSection {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.navMenuIcons {
  height: 100%;
}
/*# sourceMappingURL=Sidebar.module.css.map */