@import "../css/mediaQuery.scss";

// dark mode css
.dark-content {
  background: #1a2035 !important;
  overflow-x: hidden !important;

  .card {
    background-color: #1a2035;
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.45) !important;
    border-radius: 0px;
  }

  td {
    color: #fff !important;
  }

  // create project
  .darkModeColor {
    color: #fff !important;
  }

  .cpactiveText {
    color: #0099a4 !important;
  }

  // table data
  .TDsec {
    background-color: #0099a4 !important;
  }

  .TBSED {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  // stack data
  .darkModebgColor {
    background-color: #c6d3ff !important;
  }

  // input
  .darkBgColorSec {
    background-color: #fff;
  }
}

// sidebar css
.sidebar {
  // sidebar
  .noSidebar {
    transition-delay: 0.1s;
    width: 4% !important;
    transition-duration: 0.3s;

    @include sm {
      .noSidbarInner {
        // logcat logo without sidebar context----------------------

        .sidebarMenu {
          padding: 12px 0px;
          // logcat logo without sidebar ----------------------------------------------
          .noSideBarLogcatLogo {
            img {
              width: 25px !important;
              height: 30px !important;
            }
          }
        }
      }
      .componyLogo {
        & img {
          width: 40px !important;
          height: 40px !important;
        }
      }
    }

    @include md {
      .noSidbarInner {
        // background-color: re;
        // logcat logo without sidebar context----------------------

        .sidebarMenu {
          padding: 12px 0px;
          // background-color: red;
          // logcat logo without sidebar ----------------------------------------------
          .noSideBarLogcatLogo {
            img {
              width: 25px !important;
              height: 30px !important;
            }
          }
        }
      }
      .componyLogo {
        & img {
          width: 45px !important;
          height: 45px !important;
        }
      }
    }

    @include lg {
      .noSidbarInner {
        // background-color: red !important;

        // logcat logo without sidebar context----------------------

        .sidebarMenu {
          padding: 14px 0px;
          // background-color: red;
          // logcat logo without sidebar ----------------------------------------------
          .noSideBarLogcatLogo {
            img {
              width: 25px !important;
              height: 30px !important;
            }
          }
        }
      }
      .componyLogo {
        & img {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }

    @include lg {
      .noSidbarInner {
        // background-color: red !important;

        // logcat logo without sidebar context----------------------

        .sidebarMenu {
          padding: 14px 0px;
          // background-color: red;
          // logcat logo without sidebar ----------------------------------------------
          .noSideBarLogcatLogo {
            img {
              width: 25px !important;
              height: 30px !important;
            }
          }
        }
      }
      .componyLogo {
        & img {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }

      @include lg {
      .noSidbarInner {
        // background-color: red !important;

        // logcat logo without sidebar context----------------------

        .sidebarMenu {
          padding: 14px 0px;
          // background-color: red;
          // logcat logo without sidebar ----------------------------------------------
          .noSideBarLogcatLogo {
            img {
              width: 25px !important;
              height: 30px !important;
            }
          }
        }
      }
      .componyLogo {
        & img {
          width: 50px !important;
          height: 50px !important;
        }
      }
    }

    @include xl {
      .noSidbarInner {
        // background-color: red !important;

        // logcat logo without sidebar context----------------------

        .sidebarMenu {
          padding: 15px 0px;
          // background-color: red;
          // logcat logo without sidebar ----------------------------------------------
          .noSideBarLogcatLogo {
            img {
              width: 25px !important;
              height: 30px !important;
            }
          }
        }
      }
      .componyLogo {
        & img {
          width: 70px !important;
          height: 70px !important;
        }
      }

      // ----------------------------------------------------------------------------------------

      // background-color: red !important;
    }

    .noSideBarLinkOuter {
      display: flex;
      width: 100%;
      justify-content: center !important;
    }

    .noSideBarLink {
      padding: 10px 0px !important;
    }

    .sidebarMenu {
      padding: 12px 0px;
    }

    .hidelinkName {
      display: none;
    }

    .hideComponyName {
      display: none;
    }

    // compony logo
  }

  // navbar

  // container
  @include sm {
    .container {
      margin-left: 7%;
      // transition-duration: .3s !important;
    }
  }
  @include md {
    .container {
      margin-left: 7%;
      // transition-duration: .3s !important;
    }
  }

  @include lg {
    .container {
      margin-left: 8%;
      // transition-duration: .3s !important;
    }
  }

  @include lg-md {
    .container {
      margin-left: 8%;
      // transition-duration: .3s !important;
    }
  }
  @include lg-xl {
    .container {
      margin-left: 12%;
      // transition-duration: .3s !important;
    }
  }

  @include xl {
    .container {
      margin-left: 15%;
      // transition-duration: .3s !important;
    }
  }
}

// navbar with sidebar
.navBarDetails {
  @media only screen and (min-width: 300px) and (max-width: 900px) {
    margin-right: 17%;
    width: 20%;
    // background-color: red;
  }
  @media only screen and (min-width: 900px) and (max-width: 1600px) {
    margin-right: 17%;
    width: 14%;
    // background-color: red;
  }
  @media only screen and (min-width: 1600px) and (max-width: 1920px) {
    margin-right: 18%;
    width: 12%;
    // background-color: red;
  }

  .AvatarSectionSidbar {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
    @media only screen and (min-width: 300px) and (max-width: 900px) {
      width: 25px;
      height: 25px;
    }
    @media only screen and (min-width: 900px) and (max-width: 1600px) {
      width: 30px;
      height: 30px;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1920px) {
      width: 40px;
      height: 40px;
    }
  }

  display: flex;
  justify-content: space-around;
  align-items: center;
}
