// dark mode css
.dark-content {
  background: #1a2035 !important;
  overflow-x: hidden !important;

  .card {
    background-color: #243057;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.45) !important;
  }

  td {
    color: #fff !important;
  }

  // create project
  .darkModeColor {
    color: #fff !important;
  }

  .cpactiveText {
    color: #0099a4 !important;
  }

  // table data
  .TDsec {
    background-color: #0099a4 !important;
  }

  .TBSED {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  // stack data
  .darkModebgColor {
    background-color: #c6d3ff !important;
  }

  // input
  .darkBgColorSec {
    background-color: #fff;
  }
}

// sidebar css
.sidebar {
  // sidebar
  .noSidebar {
    transition-delay: 0.1s;
    width: 4% !important;
    transition-duration: 0.3s;

    .noSidbarInner {
      .sidebarMenu {
        height: 6%;

        @media only screen and (min-width: 300px) and (max-width: 900px) {
          height: 8% !important;
          margin-top: -2px !important;
        }
        @media only screen and (min-width: 900px) and (max-width: 1600px) {
          margin-top: -3px !important;
          height: 8% !important;
        }
        @media only screen and (min-width: 1600px) and (max-width: 1920px) {
          margin-top: -4px !important;
          height: 8% !important;
        }
        .noSideBarLogcatLogo {
          & img {
            @media only screen and (min-width: 300px) and (max-width: 900px) {
              width: 25px !important;
              height: 30px !important;
            }
            @media only screen and (min-width: 900px) and (max-width: 1600px) {
              width: 28px !important;
              height: 32px !important;
            }
            @media only screen and (min-width: 1600px) and (max-width: 1920px) {
              width: 30px !important;
              height: 35px !important;
            }
          }
        }
      }

      // background-color: red !important;
    }

    .noSideBarLinkOuter {
      display: flex;
      width: 100%;
      justify-content: center !important;
    }

    .noSideBarLink {
      padding: 10px 0px !important;
    }

    .sidebarMenu {
      height: 6%;
    }

    .hidelinkName {
      display: none;
    }

    .hideComponyName {
      display: none;
    }

    // compony logo
    .componyLogo {
      width: 100%;
      height: 6%;
      margin-bottom: 10%;
      & img {
        @media only screen and (min-width: 300px) and (max-width: 900px) {
          width: 40px !important;
          height: 40px !important;
        }
        @media only screen and (min-width: 900px) and (max-width: 1600px) {
          width: 60px !important;
          height: 60px !important;
        }
        @media only screen and (min-width: 1600px) and (max-width: 1920px) {
          width: 70px !important;
          height: 70px !important;
        }
      }
    }
  }

  // navbar
  .sideBarDetailSection {
    @media only screen and (min-width: 300px) and (max-width: 900px) {
      margin-right: 8% !important;
      width: 20% !important;
    }
    @media only screen and (min-width: 900px) and (max-width: 1600px) {
      margin-right: 6% !important;
      width: 14% !important;
    }
    @media only screen and (min-width: 1600px) and (max-width: 1920px) {
      margin-right: 6% !important;
      width: 12% !important;
    }
  }
  // container
  .container {
    margin-left: 13%;
    // transition-duration: .3s !important;
  }
}
