.dark-content {
  background: #1a2035 !important;

  .card {
    background-color: #243057;
    box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.45) !important;
  }

  td {
    color: #fff !important;
  }
  // create project
  .CPp {
    color: #fff !important;
  }
  .cpactiveText {
    color: #0099a4 !important;
  }

  // log table
  .LTp {
    color: #fff !important;
  }
  // table data
  .TDsec {
    background-color: #0099a4 !important;
  }

  // analytics
  .AYp {
    color: #fff !important;
  }

  // stack data
  .SDb{
    background-color: #c6d3ff !important;
  }
  .SDb1{
    background-color: #e2e8ff !important;

  }
}
