.dark-content {
  background: #212121 !important;
  overflow-x: hidden !important;
}

.dark-content .card {
  background-color: #262626;
  -webkit-box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.45) !important;
          box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.45) !important;
  border-radius: 0px;
}

.dark-content td {
  color: #fff !important;
}

.dark-content .darkModeColor {
  color: #fff !important;
}

.dark-content .cpactiveText {
  color: #0099a4;
}

.dark-content .TDsec {
  background-color: #0099a4 !important;
}

.dark-content .TBSED {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.dark-content .darkModebgColor {
  background-color: #c6d3ff !important;
}

.dark-content .darkBgColorSec {
  background-color: #fff;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .sidebar .noSidebar {
    width: 6% !important;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .sidebar .noSidebar {
    width: 4% !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .sidebar .noSidebar {
    width: 4% !important;
  }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .sidebar .noSidebar {
    width: 4% !important;
  }
}

.sidebar .noSidebar {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .sidebar .noSidebar .noSidbarInner .sidebarMenu {
    padding: 12px 0px;
  }
  .sidebar .noSidebar .noSidbarInner .sidebarMenu .noSideBarLogcatLogo img {
    width: 25px !important;
    height: 30px !important;
  }
  .sidebar .noSidebar .componyLogo img {
    width: 40px !important;
    height: 40px !important;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .sidebar .noSidebar .noSidbarInner .sidebarMenu {
    padding: 12px 0px;
  }
  .sidebar .noSidebar .noSidbarInner .sidebarMenu .noSideBarLogcatLogo img {
    width: 25px !important;
    height: 30px !important;
  }
  .sidebar .noSidebar .componyLogo img {
    width: 45px !important;
    height: 45px !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .sidebar .noSidebar .noSidbarInner .sidebarMenu {
    padding: 14px 0px;
  }
  .sidebar .noSidebar .noSidbarInner .sidebarMenu .noSideBarLogcatLogo img {
    width: 25px !important;
    height: 30px !important;
  }
  .sidebar .noSidebar .componyLogo img {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .sidebar .noSidebar .noSidbarInner .sidebarMenu {
    padding: 14px 0px;
  }
  .sidebar .noSidebar .noSidbarInner .sidebarMenu .noSideBarLogcatLogo img {
    width: 25px !important;
    height: 30px !important;
  }
  .sidebar .noSidebar .componyLogo img {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (min-width: 1480px) and (max-width: 1919px) {
  .sidebar .noSidebar .noSidbarInner .sidebarMenu {
    padding: 14px 0px;
  }
  .sidebar .noSidebar .noSidbarInner .sidebarMenu .noSideBarLogcatLogo img {
    width: 25px !important;
    height: 30px !important;
  }
  .sidebar .noSidebar .componyLogo img {
    width: 50px !important;
    height: 50px !important;
  }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .sidebar .noSidebar .noSidbarInner .sidebarMenu {
    padding: 15px 0px;
  }
  .sidebar .noSidebar .noSidbarInner .sidebarMenu .noSideBarLogcatLogo img {
    width: 25px !important;
    height: 30px !important;
  }
  .sidebar .noSidebar .componyLogo img {
    width: 70px !important;
    height: 70px !important;
  }
}

.sidebar .noSidebar .noSideBarLinkOuter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

.sidebar .noSidebar .noSideBarLink {
  padding: 10px 0px !important;
}

.sidebar .noSidebar .sidebarMenu {
  padding: 12px 0px;
}

.sidebar .noSidebar .hidelinkName {
  display: none;
}

.sidebar .noSidebar .hideComponyName {
  display: none;
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .sidebar .container {
    margin-left: 7%;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .sidebar .container {
    margin-left: 7%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .sidebar .container {
    margin-left: 8%;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .sidebar .container {
    margin-left: 8%;
  }
}

@media screen and (min-width: 1480px) and (max-width: 1919px) {
  .sidebar .container {
    margin-left: 12%;
  }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .sidebar .container {
    margin-left: 15%;
  }
}

@media screen and (min-width: 600px) and (max-width: 959px) {
  .navBarDetails {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-right: 155px;
  }
  .navBarDetails .AvatarSectionSidbar {
    background-color: #fff !important;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}

@media screen and (min-width: 960px) and (max-width: 1279px) {
  .navBarDetails {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-right: 209px;
    width: 130px;
  }
  .navBarDetails .AvatarSectionSidbar {
    background-color: #fff !important;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .navBarDetails {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-right: 260px;
    width: 120px;
  }
  .navBarDetails .AvatarSectionSidbar {
    background-color: #fff !important;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .navBarDetails {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-right: 251px;
    width: 130px;
  }
  .navBarDetails .AvatarSectionSidbar {
    background-color: #fff !important;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1480px) and (max-width: 1919px) {
  .navBarDetails {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-right: 333px;
    width: 140px;
  }
  .navBarDetails .AvatarSectionSidbar {
    background-color: #fff !important;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    cursor: pointer;
  }
}

@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .navBarDetails {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    margin-right: 341px;
    width: 150px;
  }
  .navBarDetails .AvatarSectionSidbar {
    background-color: #fff !important;
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
/*# sourceMappingURL=Theme.css.map */