@import "./veriables.module.scss";
@import "./mediaQuery.scss";

.searchSection {
  background-color: #efefef;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;

  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.224);

  & input {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid rgb(226, 226, 226) 1px;
    margin: 5px;
    width: 60%;
    height: 40px;
  }

  .filterGraphFirstSection {
    cursor: pointer;
    background-color: $active_text_color;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: auto !important;

    & svg {
      color: $defaultTextColor;
      transition-duration: 0.5s;
    }
  }
}

.filterWithDate {
  display: flex;
  justify-content: flex-end;
  height: 40px;

  .filterwithDate {
    @include paraFontdasktopMixin;
    cursor: pointer;
    .datafilter {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    & input {
      margin-left: 10px;
    }
  }
}

.productVersion {
  margin: 5px;
  cursor: pointer;
  &:hover {
    background-color: $backgroundColor;
    width: 100%;
    margin: 5px;
    color: $defaultTextColor;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tableDataAlerts {
  .header {
    display: flex;
    align-items: center;
    height: 50px;
    background-color: #efefef;

    .header_inner {
      margin: 5px;
      display: flex;
      align-items: center;
      font-size: 1rem;
      font-weight: 500;
      font-size: 0.9rem;
    }
  }
  @include sm {
    .header :nth-child(1) {
      width: 40px;
    }
    .header :nth-child(2) {
      width: 160px;
    }
    .header :nth-child(3) {
      width: 80px;
    }
    .header :nth-child(4) {
      width: 150px;
    }
    .header :nth-child(5) {
      width: 90px;
    }
    .header :nth-child(6) {
      width: 90px;
    }
  }
  @include md {
    .header :nth-child(1) {
      width: 40px;
    }
    .header :nth-child(2) {
      width: 300px;
    }
    .header :nth-child(3) {
      width: 120px;
    }
    .header :nth-child(4) {
      width: 180px;
    }
    .header :nth-child(5) {
      width: 120px;
    }
    .header :nth-child(6) {
      width: 120px;
    }
  }
  @include lg-md {
    .header :nth-child(1) {
      width: 40px;
    }
    .header :nth-child(2) {
      width: 280px;
    }
    .header :nth-child(3) {
      width: 160px;
    }
    .header :nth-child(4) {
      width: 260px;
    }
    .header :nth-child(5) {
      width: 140px;
    }
    .header :nth-child(6) {
      width: 140px;
    }
  }

  @include xl {
    .header :nth-child(1) {
      width: 40px;
    }
    .header :nth-child(2) {
      width: 500px;
    }
    .header :nth-child(3) {
      width: 160px;
    }
    .header :nth-child(4) {
      width: 360px;
    }
    .header :nth-child(5) {
      width: 140px;
    }
    .header :nth-child(6) {
      width: 140px;
    }
  }

  .bodyStyle {
    display: flex;
    align-items: center;
    font-size: 0.9rem;

    .bodyStyle_inner {
      margin: 5px;
      display: flex;
    }
  }
  @include sm {
    .bodyStyle :nth-child(1) {
      width: 40px;
    }
    .bodyStyle :nth-child(2) {
      width: 160px;
    }
    .bodyStyle :nth-child(3) {
      width: 80px;
    }
    .bodyStyle :nth-child(4) {
      width: 150px;
    }
    .bodyStyle :nth-child(5) {
      width: 90px;
    }
    .bodyStyle :nth-child(6) {
      width: 90px;
    }
  }
  @include md {
    .bodyStyle :nth-child(1) {
      width: 40px;
    }
    .bodyStyle :nth-child(2) {
      width: 300px;
    }
    .bodyStyle :nth-child(3) {
      width: 120px;
    }
    .bodyStyle :nth-child(4) {
      width: 180px;
    }
    .bodyStyle :nth-child(5) {
      width: 120px;
    }
    .bodyStyle :nth-child(6) {
      width: 120px;
    }
  }
  @include lg-md {
    .bodyStyle :nth-child(1) {
      width: 40px;
    }
    .bodyStyle :nth-child(2) {
      width: 280px;
    }
    .bodyStyle :nth-child(3) {
      width: 160px;
    }
    .bodyStyle :nth-child(4) {
      width: 260px;
    }
    .bodyStyle :nth-child(5) {
      width: 140px;
    }
    .bodyStyle :nth-child(6) {
      width: 140px;
    }
  }
  @include xl {
    .bodyStyle :nth-child(1) {
      width: 40px;
    }
    .bodyStyle :nth-child(2) {
      width: 500px;
    }
    .bodyStyle :nth-child(3) {
      width: 160px;
    }
    .bodyStyle :nth-child(4) {
      width: 360px;
    }
    .bodyStyle :nth-child(5) {
      width: 140px;
    }
    .bodyStyle :nth-child(6) {
      width: 140px;
    }
  }
}