.searchSection {
  background-color: #efefef;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.224);
}
.searchSection input {
  display: flex;
  align-items: center;
  border-radius: 5px;
  border: solid rgb(226, 226, 226) 1px;
  padding: 5px;
  width: 60%;
  height: 40px;
}
.searchSection .filterGraphFirstSection {
  cursor: pointer;
  background-color: #0099a4;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: auto !important;
}
.searchSection .filterGraphFirstSection svg {
  color: #fff;
  transition-duration: 0.5s;
}

.filterWithDate {
  display: flex;
  justify-content: flex-end;
  height: 40px;
}
.filterWithDate .filterwithDate {
  font-size: 0.9rem !important;
  color: #646464;
  cursor: pointer;
}
.filterWithDate .filterwithDate .datafilter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filterWithDate .filterwithDate input {
  margin-left: 10px;
}

.productVersion {
  padding: 5px;
  cursor: pointer;
}
.productVersion:hover {
  background-color: #0099a4;
  width: 100%;
  padding: 5px;
  color: #fff;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tableDataAlerts .header {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #efefef;
}
.tableDataAlerts .header .header_inner {
  padding: 5px;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
  font-size: 0.9rem;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .tableDataAlerts .header :nth-child(1) {
    width: 40px;
  }
  .tableDataAlerts .header :nth-child(2) {
    width: 160px;
  }
  .tableDataAlerts .header :nth-child(3) {
    width: 80px;
  }
  .tableDataAlerts .header :nth-child(4) {
    width: 150px;
  }
  .tableDataAlerts .header :nth-child(5) {
    width: 90px;
  }
  .tableDataAlerts .header :nth-child(6) {
    width: 90px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .tableDataAlerts .header :nth-child(1) {
    width: 40px;
  }
  .tableDataAlerts .header :nth-child(2) {
    width: 220px;
  }
  .tableDataAlerts .header :nth-child(3) {
    width: 120px;
  }
  .tableDataAlerts .header :nth-child(4) {
    width: 180px;
  }
  .tableDataAlerts .header :nth-child(5) {
    width: 120px;
  }
  .tableDataAlerts .header :nth-child(6) {
    width: 120px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .tableDataAlerts .header :nth-child(1) {
    width: 40px;
  }
  .tableDataAlerts .header :nth-child(2) {
    width: 280px;
  }
  .tableDataAlerts .header :nth-child(3) {
    width: 160px;
  }
  .tableDataAlerts .header :nth-child(4) {
    width: 260px;
  }
  .tableDataAlerts .header :nth-child(5) {
    width: 140px;
  }
  .tableDataAlerts .header :nth-child(6) {
    width: 140px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .tableDataAlerts .header :nth-child(1) {
    width: 40px;
  }
  .tableDataAlerts .header :nth-child(2) {
    width: 500px;
  }
  .tableDataAlerts .header :nth-child(3) {
    width: 160px;
  }
  .tableDataAlerts .header :nth-child(4) {
    width: 360px;
  }
  .tableDataAlerts .header :nth-child(5) {
    width: 140px;
  }
  .tableDataAlerts .header :nth-child(6) {
    width: 140px;
  }
}
.tableDataAlerts .bodyStyle {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}
.tableDataAlerts .bodyStyle .bodyStyle_inner {
  padding: 5px;
  display: flex;
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .tableDataAlerts .bodyStyle :nth-child(1) {
    width: 40px;
  }
  .tableDataAlerts .bodyStyle :nth-child(2) {
    width: 160px;
  }
  .tableDataAlerts .bodyStyle :nth-child(3) {
    width: 80px;
  }
  .tableDataAlerts .bodyStyle :nth-child(4) {
    width: 150px;
  }
  .tableDataAlerts .bodyStyle :nth-child(5) {
    width: 90px;
  }
  .tableDataAlerts .bodyStyle :nth-child(6) {
    width: 90px;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .tableDataAlerts .bodyStyle :nth-child(1) {
    width: 40px;
  }
  .tableDataAlerts .bodyStyle :nth-child(2) {
    width: 220px;
  }
  .tableDataAlerts .bodyStyle :nth-child(3) {
    width: 120px;
  }
  .tableDataAlerts .bodyStyle :nth-child(4) {
    width: 180px;
  }
  .tableDataAlerts .bodyStyle :nth-child(5) {
    width: 120px;
  }
  .tableDataAlerts .bodyStyle :nth-child(6) {
    width: 120px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .tableDataAlerts .bodyStyle :nth-child(1) {
    width: 40px;
  }
  .tableDataAlerts .bodyStyle :nth-child(2) {
    width: 280px;
  }
  .tableDataAlerts .bodyStyle :nth-child(3) {
    width: 160px;
  }
  .tableDataAlerts .bodyStyle :nth-child(4) {
    width: 260px;
  }
  .tableDataAlerts .bodyStyle :nth-child(5) {
    width: 140px;
  }
  .tableDataAlerts .bodyStyle :nth-child(6) {
    width: 140px;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .tableDataAlerts .bodyStyle :nth-child(1) {
    width: 40px;
  }
  .tableDataAlerts .bodyStyle :nth-child(2) {
    width: 500px;
  }
  .tableDataAlerts .bodyStyle :nth-child(3) {
    width: 160px;
  }
  .tableDataAlerts .bodyStyle :nth-child(4) {
    width: 360px;
  }
  .tableDataAlerts .bodyStyle :nth-child(5) {
    width: 140px;
  }
  .tableDataAlerts .bodyStyle :nth-child(6) {
    width: 140px;
  }
}/*# sourceMappingURL=AlertsNew.module.css.map */