.searchSection {
    /* background-color: #efefef; */
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.224);
  }
  .searchSection input {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid rgb(226, 226, 226) 1px;
    padding: 10px;
    width: 90%;
    height: 50px;
    margin-bottom: 15px;
  }
  .btn1{
    display: none;
  }
  .Header{
    padding: 150px 0px 20px 140px;
    margin-left: 40px;
    color:' #0099a4'
  }
  .searchSection .filterGraphFirstSection {
    cursor: pointer;
    background-color: #0099a4;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 75%;
  }
  .searchSection .filterGraphFirstSection svg {
    color: #fff;
    transition-duration: 0.5s;
  }
  
  .filterWithDate {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    font-size: 0.9rem !important;
    color: #646464;
    cursor: pointer;
  }
  .filterWithDate .datafilter {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .filterWithDate input {
    margin-left: 10px;
  }
  #selectAll{
    height: 20px;
    width:10px;
  }
  
  .noDataFound {
    width: 100%;
    height: 100px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.3rem;
  }
  
  .productVersion {
    padding: 5px;
    cursor: pointer;
  }
  .productVersion:hover {
    background-color: #0099a4;
    width: 100%;
    margin: 5px;
    color: #fff;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
  }
  .alertTable .tableHeader {
    padding: 10px 10px;
    display: grid;
    grid-template-columns:  5% 10% 12% 12% 10% 12% 14% 16% 5% 5%;
    font-weight: 500;
    font-size: 0.9rem !important;
    border-bottom: 1px solid rgba(51, 51, 51, 0.137);
    /* background-color: rgba(122, 122, 122, 0.082); */
  }
  .alertTable .tableBody {
    /* grid-template-columns: 5% 30% 13% 25% 15% 15%; */
    grid-template-columns:  4% 12% 12% 12% 10% 12% 14% 13% 5% 6% 10%; 
  }
  .Container{
    margin-left:'15%';
    margin-top:'0px';
  }
  @media screen and (min-width: 600px) and (max-width: 959px) {
    .alertTable .tableHeader {
      grid-template-columns: 5% 25% 13% 25% 18% 18%;
    }
  }
  @media screen and (min-width: 1920px) and (max-width: 5000px) {

    .alertTable .tableHeader {
      grid-template-columns: 5% 30% 13% 25% 15% 15%;
    }
  }
  .alertTable .tableHeader .innerHeader {
    display: flex;
    align-items: center;
  }
  .alertTable .tableBody {
    border-bottom: 1px solid rgba(51, 51, 51, 0.137);
    padding: 10px;
    display: grid;
    /* grid-template-columns:  5% 15% 10% 10% 10% 12% 15% 19% 5% 5%; */
    grid-template-columns:  4% 11% 12% 12% 10% 12% 14% 13% 5% 6% 10%;
    font-size: 0.9rem;
  }
  @media screen and (min-width: 600px) and (max-width: 800px) {
    .alertTable .tableBody {
      grid-template-columns: 5% 20% 12% 11% 10% 10% 10% 9% 4% 5%;
      font-size:0.9rem;
    }
    .alertTable .tableHeader{
      grid-template-columns: 5% 19% 11% 11% 10% 10% 10% 13% 5%;
      font-weight: 200;
      padding: 10px;
  
    }
    .Header{
      padding-left:20px;
      padding-top:150px;
      color: #0099a4;
    }
  }
  @media screen and (min-width:800px) and (max-width:1920px){
    .Container{
      margin-left: 9%;
    }
    .alertTable .tableBody {
      /* grid-template-columns: 5% 30% 13% 25% 15% 15%; */
      grid-template-columns: 4% 18% 13% 11% 11% 14% 10% 5% 4.5% 4% 6%;
    }
    .alertTable .tableHeader{
      grid-template-columns: 4% 18% 13% 11% 11% 10% 11% 11% 7% 5% 1%;
      font-weight: 200;
      padding: 10px;
  
    }
    .Header{
      padding-left:66px;
      padding-top:150px;
      color: #0099a4;
    }

  }
  @media screen and (min-width: 1920px) and (max-width: 5000px) {
    .alertTable .tableBody {
      grid-template-columns: 4% 15% 13% 13% 11% 10% 12% 9% 4% 4% 5% 1%;
      /* grid-template-columns:  4% 15% 13% 13% 11% 10% 12% 9% 5% 5% 1%; */
    }
    .alertTable .tableHeader{
      grid-template-columns:  4% 14% 12% 12% 10% 10% 13% 16% 5%;
      font-weight: 200;
      padding: 10px;
    }
    .Header{
      padding-left:290px;
      padding-top:150px;
      color: #0099a4;
    }
    .Image{
      width: 20px;
      height: 20px;
    }

  }
  
  /* # sourceMappingURL=device.module.css.map */