.NavbarOuter {
  width: 100%;
  position: fixed;
  z-index: 10;
}
.NavbarOuter .Navbar {
  background-color: #21969d;
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 0.3% 1%;
}
@media only screen and (min-width: 300px) and (max-width: 700px) {
  .NavbarOuter .Navbar {
    height: 50px;
  }
}
@media only screen and (min-width: 700px) and (max-width: 1600px) {
  .NavbarOuter .Navbar {
    height: 55px;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1920px) {
  .NavbarOuter .Navbar {
    height: 60px;
  }
}
@media screen and (min-width: 600px) and (max-width: 959px) {
  .NavbarOuter .Navbar .detailSection {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-right: 60px !important;
    width: 120px !important;
  }
  .NavbarOuter .Navbar .detailSection .AvatarSection {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}
@media screen and (min-width: 960px) and (max-width: 1279px) {
  .NavbarOuter .Navbar .detailSection {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-right: 80px !important;
    width: 130px !important;
  }
  .NavbarOuter .Navbar .detailSection .AvatarSection {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1919px) {
  .NavbarOuter .Navbar .detailSection {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-right: 200px !important;
    width: 130px !important;
  }
  .NavbarOuter .Navbar .detailSection .AvatarSection {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1280px) and (max-width: 1480px) {
  .NavbarOuter .Navbar .detailSection {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-right: 80px !important;
    width: 130px !important;
  }
  .NavbarOuter .Navbar .detailSection .AvatarSection {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1480px) and (max-width: 1919px) {
  .NavbarOuter .Navbar .detailSection {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin-right: 100px !important;
    width: 140px !important;
  }
  .NavbarOuter .Navbar .detailSection .AvatarSection {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 38px;
    height: 38px;
    cursor: pointer;
  }
}
@media screen and (min-width: 1920px) and (max-width: 5000px) {
  .NavbarOuter .Navbar .detailSection {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
    width: 150px;
    display: flex;
    margin-right: 100px !important;
  }
  .NavbarOuter .Navbar .detailSection .AvatarSection {
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
.NavbarOuter .AvatarSectionDropDown {
  width: 60px;
  height: 60px;
  background-color: #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
.NavbarOuter .manageAccount {
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  padding: 6px;
  cursor: pointer;
  border: solid rgb(226, 226, 226) 1px !important;
}
.NavbarOuter .manageAccount:hover {
  background-color: #0099a4;
  color: #fff;
}
.NavbarOuter .logoutAccount {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
  padding: 6px;
  cursor: pointer;
  border: solid rgb(226, 226, 226) 1px !important;
}
.NavbarOuter .logoutAccount:hover {
  background-color: #0099a4;
  color: #fff;
}
.NavbarOuter .privacyPolicy {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.8rem;
}/*# sourceMappingURL=NavBar.module.css.map */