@import "./veriables.module.scss";

.dropdown-toggle {
  background-color: $filterButtonBackgroundColor !important;
  color: $pColor !important;
  border: none !important;
  border-radius: $buttonBorderRaduous !important;
}

// paragraph
p {
  margin-bottom: 0 !important;
}

// erasing padding and margin from col and nav
.row > * {
  margin: 0%;
  padding: 0%;
}

.btn {
  background-color: $activehrefText !important;
  border: none !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

thead,
th {
  font-size: 0.9rem;
  font-weight: 500 !important;
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    font-size: 0.7rem;
  }
}

tbody,
td {
  font-size: 0.8rem;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: none !important;
  border-style: none !important;
}

// thememing start bootstrap --------
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
