@import "./veriables.module.scss";

.dropdown-toggle {
  background-color: $filterButtonBackgroundColor !important;
  border: none !important;
  border-radius: $buttonBorderRaduous !important;
}

// paragraph
p {
  margin-bottom: 0 !important;
}

// erasing padding and margin from col and nav
.row > * {
  margin: 0%;
  padding: 0%;
}

.btn {
  background-color: $activehrefText !important;
  border: none !important;
}

*:focus {
  outline: none !important;
  box-shadow: none !important;
}

thead,
th {
  text-align: start !important;
  @include paraFontdasktopMixin;
  @media screen and (min-width: 600px) and (max-width: 1200px) {
    @include paraFontdasktopMixin;
  }
}

tbody,
td {
  @include paraFontdasktopMixin;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-width: none !important;
  border-style: none !important;
}

// thememing start bootstrap --------
.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.order {
  padding-left: 3px !important;
}

.sortable {
  letter-spacing: 0.3px;
}

.mm-2 {
  margin: 0.5rem !important;
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
  .trends-container {
    margin-top: 1rem !important;
  }

  .mm-2 {
    margin: 0.19rem !important;
  }
}
.modal-title {
  color: #0099a4 !important;
}

input {
  border-radius: 10px !important;
}

textarea {
  border-radius: 10px !important;
}

