$stackBackgroundColor: #f5f5f5;
$SideNavBackgroundColor: #172345;
$ActiveBackgroundColore: #4b2dec;
$ActiveParaTextColor: #fff;
$ActiveParaTextFontWeight: 500;
$cardBorderRadius: 15px !important;
$activehrefText: #685af0;
$activeLinkTextFontWeight: 500;
$buttonBorderRaduous: 10px;
$inputbackgroundColor: #e2e2e2;
$filterButtonBackgroundColor: #e2e2e2;
$h3colorText: #685af0;
$pColor: #707c9d;
$avtarcolor: #685af0;
$defaultTextColor: #fff;
