// dashboard background color -----------------
$buttonBorderRaduous: 10px;
$activeLinkTextFontWeight: 500;
$stackBackgroundColor: #f5f5f5;
$ActiveBackgroundColore: #4b2dec;
$padding: 10px;
$h3colorText: #685af0;
$margin: 10px;
$filterButtonBackgroundColor: #e2e2e2;
$activehrefText: #257d7c;
$backgroundColor: #257d7c;
$defaultTextColor: #fff;
$cardBorderRadius: 15px !important;
$borderBottom: 1px solid rgba(90, 90, 90, 0.234);
$sideBarBackgroundColor: #494949;
$border: 1px solid rgba(141, 141, 141, 0.72);

// ------ font default----------------------------------
//* heading font ***************************************

// dasktop
@mixin headingFontdasktopMixin {
  font-size: 0.9rem !important;
  font-weight: 500;
  color: $activehrefText;
}

// laptop
@mixin headingFontLaptopMixin {
  font-size: 0.7rem !important;
  font-weight: 500;
  color: $activehrefText;
}
// tablet
@mixin headingFonttabletMixin {
  font-size: 0.7rem !important;
  font-weight: 500;
  color: $activehrefText;
}
//* heading font ***************************************

//* active heading font *************************************
// dasktop
@mixin ActiveheadingFontdasktopMixin {
  font-size: 0.9rem !important;
  font-weight: 500;
}

// laptop
@mixin ActiveheadingFontLaptopMixin {
  font-size: 0.7rem !important;
  font-weight: 500;
}
// tablet
@mixin ActiveheadingFonttabletMixin {
  font-size: 0.7rem !important;
  font-weight: 500;
}
//* active heading font *************************************

// * para font **********************************************
@mixin paraFontdasktopMixin {
  font-size: 0.8rem !important;
}

// laptop
@mixin paraFontLaptopMixin {
  font-size: 0.8rem !important;
}
// tablet
@mixin paraFonttabletMixin {
  font-size: 0.8rem !important;
}
// * para font **********************************************

// *active paraFont font **********************************
@mixin activeparaFontdasktopMixin {
  font-size: 1.3rem !important;
  color: $activehrefText;
  font-weight: 500;
}

// laptop
@mixin activeparaFontLaptopMixin {
  font-size: 0.9rem !important;
  color: $activehrefText;
}
// tablet
@mixin activeparaFonttabletMixin {
  font-size: 0.9rem !important;
  color: $activehrefText;
}
// *active paraFont font **********************************
