$stackBackgroundColor: #f5f5f5;
$SideNavBackgroundColor: #172345;
$ActiveBackgroundColore: #4b2dec;
$ActiveParaTextColor: #fff;
$ActiveParaTextFontWeight: 500;
$activeLinkTextFontWeight: 500;
$buttonBorderRaduous: 10px;
$inputbackgroundColor: #e2e2e2;
$h3colorText: #685af0;
$pColor: #707c9d;
$sidebarPadding: 0px 15% 0px 15%;

// secondry css
$inerOptionBackgroundColor: #2d3959;

// initails items
$padding: 10px;
$margin: 10px;

// dashboard background color -----------------
$filterButtonBackgroundColor: #e2e2e2;
$activehrefText: #257d7c;
$backgroundColor: #257d7c;
$defaultTextColor: #fff;
$cardBorderRadius: 15px !important;
$borderBottom: 1px solid rgba(255, 255, 255, 0.4);
$sideBarBackgroundColor: #21283e;
$border: 1px solid rgb(141, 141, 141);
