@import "../../../css/veriables.module.scss";

.MainDiv {
  .outerSec {
    display: flex;
    justify-content: start;
    width: 80%;
  }

  & h3 {
    color: $activehrefText;
    font-size: 1.3rem;
  }

  & p {
    cursor: pointer;
    color: $activehrefText;
    & span {
      padding: 7px;
    }
  }
}
