@import "../../../css/veriables.module..css";

.MainDiv {
  .outerSec {
    display: flex;
    justify-content: start;
    width: 80%;
  }

  & p {
    @include headingFontdasktopMixin;
    & span {
      padding: 7px;
    }
  }
}
