@import "../../../css/veriables.module.scss";

.outerDiv {
  border-radius: $cardBorderRadius;
  margin-top: 10px;
  // background-color: red;
  .outerDivinner {
    margin-top: 10px;
  }

  .StackInfoDive {
    background-color: #eeeeee;
    border-radius: 5px;

    // background-color: red;s
    margin: 0px;
    border: $borderBottom;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .ParaWithArrowDown {
      color: $activehrefText;
      cursor: pointer;
    }
    & p {
      @include headingFontdasktopMixin;
      // color: rgb(121, 121, 121) !important;
    }
    & h3 {
      cursor: pointer;
      font-size: 1.3rem;
    }
    .innerSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .StackInfoDiveWithToggle {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #eeeeee;
    margin: 0px;
    border: $borderBottom;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    .ParaWithArrowDown {
      color: $activehrefText;
      cursor: pointer;
    }
    & p {
      @include headingFontdasktopMixin;
      // color: rgb(121, 121, 121) !important;
    }
    & h3 {
      cursor: pointer;
      font-size: 1.3rem;
    }
    .innerSection {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .index0{
    color: rgb(116, 116, 116) !important;
  }

  .detailSection {
    border: $borderBottom;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: $defaultTextColor;
    font-size: 0.9rem;
    padding: 10px;
    .stackDetails {
      @include headingFontdasktopMixin;
    }

    font-size: 0.8rem !important;
    color: rgb(89, 89, 89) !important;

    .dynamicPara {
      color: #000 !important;
    }
    .normalPara {
      color: $activehrefText !important;
      font-size: 0.8rem !important;
    }
    & p {
      color: rgb(143, 143, 143);
    }
  }
}

.filterToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $activehrefText;
  border-radius: 55px;
  overflow: hidden;

  @media screen and (min-width: 600px) and (max-width: 1200px) {
    width: 12%;
  }

  @media screen and (min-width: 1200px) and (max-width: 1600px) {
    width: 8%;
  }
  @media screen and (min-width: 1600px) and (max-width: 1920px) {
    width: 8%;
  }

  .filterGraphFirstSction {
    width: 100%;
    & p {
      color: $defaultTextColor;
      font-size: 0.8rem;
    }
    & svg {
      color: $filterButtonBackgroundColor;
    }
    cursor: pointer;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 50px;
  }

  .filterGraphFirstSctionActive {
    width: 100%;
    & p {
      color: $activehrefText;
      font-size: 0.8rem;
    }
    & svg {
      color: $activehrefText;
    }
    cursor: pointer;
    background-color: $filterButtonBackgroundColor;
    padding: 10px;
    // margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 100%;
  }
}
