@import "../../../css/veriables.module.scss";

.outerDiv {
  border-radius: $cardBorderRadius;

  .StackInfoDive {
    background-color: $filterButtonBackgroundColor;
    border-top-left-radius: $cardBorderRadius;
    border-top-right-radius: $cardBorderRadius;
    margin: 0px;
    border: $borderBottom;

    .ParaWithArrowDown {
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $activehrefText;
      cursor: pointer;
    }
    & p {
      @include headingFontdasktopMixin;
    }
    & h3 {
      cursor: pointer;
      font-size: 1.3rem;
    }
  }

  .detailSection {
    border: $borderBottom;
    border-bottom-left-radius: $cardBorderRadius;
    border-bottom-right-radius: $cardBorderRadius;
    display: flex;
    flex-direction: column;
    background-color: $defaultTextColor;
    font-size: 0.9rem;

    .stackDetails {
      @include headingFontdasktopMixin;
    }

    .pText {
      @include paraFontdasktopMixin;
      border-bottom: $borderBottom;
    }

    & p {
      @include paraFontdasktopMixin;
      color: $activehrefText;
      margin-top: 10px;
    }
  }
}

.filterToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $activehrefText;
  width: 9%;
  padding: 1px;
  border-radius: 50px;
  overflow: hidden;
  .filterGraphFirstSction {
    width: 100%;
    & p {
      color: $defaultTextColor;
      font-size: 0.8rem;
    }
    & svg {
      color: $filterButtonBackgroundColor;
    }
    cursor: pointer;
    padding: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 50px;
  }

  .filterGraphFirstSctionActive {
    width: 100%;
    & p {
      color: $activehrefText;
      font-size: 0.8rem;
    }
    & svg {
      color: $activehrefText;
    }
    cursor: pointer;
    background-color: $filterButtonBackgroundColor;
    padding: 10px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 50px;
  }
}
