@import "../../../css/veriables.module.scss";

.ToggleTabs {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  & p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.ToggleTabs_active {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;
  & p {
    display: flex;
    justify-content: center;
    height: 100%;
    color: $defaultTextColor;
  }
}

.DataTogleSection {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
