@import "../../../../css/veriables.module.scss";

.outerSection {
  border-radius: 10px;
  // background-color: red;
  margin-top: 10px;
  padding: 10px;
  display: block;
  justify-content: space-between;
  background-color: #eeeeee;
  & p {
    @include headingFontdasktopMixin;
  }
}
