@import "../../../css/veriables.module.scss";

.TrandsDataTable {
  display: flex;
  justify-content: space-between;

  & h4 {
    color: $h3colorText;
  }
  & p {
    font-size: .8rem;
  }

  .Outsection {
    display: flex;
    justify-content: space-between;

    & h4 {
      color: $activehrefText;
    }
    & p {
      font-size: .8rem;
    }
  }
}

.Trand {
  display: flex;
  justify-content: space-between;
  & h5 {
    font-weight: 600;
  }

  & p {
    color: $activehrefText;
    font-size: .8rem;
  }

  & section {
    display: flex;
  }
}
