@import "../../../css/veriables.module.scss";

.TrandsDataTable {
  display: flex;
  justify-content: space-between;

  & h3 {
    color: $h3colorText;
    font-size: 2rem;
  }

  .Outsection {
    display: flex;
    justify-content: space-between;

    & h3 {
      color: $activehrefText;
      font-size: 2rem;
    }
  }
}

.Trand {
  display: flex;
  justify-content: space-between;
  & h5 {
    font-weight: 600;
  }

  & p {
    color: $activehrefText;
  }

  & section {
    display: flex;
  }
}
