@import "../../css/veriables.module..css";
.Reset {
  padding: 30px;
  width: 500px;

  .headerText {
    font-size: 3rem;
    font-weight: 500;
    color: $activehrefText;
  }

  .imputFields {
    display: flex;
    align-items: center;
    border: solid rgb(226, 226, 226) 1px;
    border-radius: $cardBorderRadius;
    padding: 5px;
    & input {
      border: none !important;
      background: none !important;
    }

    & svg {
      color: $activehrefText;
    }
  }

  .OPTTIMR {
    display: flex;
    justify-content: space-between;
  }
}
