@import "../../../css/veriables.module.scss";

.SideNav {
  position: fixed !important;
  width: 18%;
  height: 100vh;
  background-color: $SideNavBackgroundColor !important;
  color: $defaultTextColor;

  .componysec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: $borderBottom;

    & p {
      margin-top: $padding;
      font-weight: $ActiveParaTextFontWeight;
    }

    & img {
      height: 60px;
    }
  }

  // project section
  .projectSection {
    .projectSectionCardOuter {
      display: flex;
      justify-content: space-between;
    }
    .projectSectionCard {
      width: 100%;
      display: flex;
      justify-content: space-between;
      background-color: $inerOptionBackgroundColor;
    }
  }
}
