@import "../../../css/veriables.module.scss";

.SideNav {
  position: fixed !important;
  width: 18%;
  height: 100vh;
  background-color: $SideNavBackgroundColor !important;
  color: $defaultTextColor;
  overflow: hidden;

  .componysec {
    display: flex;
    justify-content: center;
    align-items: center;

    & p {
      margin-top: $padding;
      font-weight: $ActiveParaTextFontWeight;
    }

    & img {
      height: 60px;
    }
  }

 
}
